<div class="flex-1 p-4">
  <div
    class="w-full bg-white p-3 md:p-5 rounded-xl flex justify-between items-center"
  >
    <div class="text-lg md:text-xl font-medium">Product</div>
    <div class="flex items-center gap-2 md:gap-5">
      <div
        id="search-contain"
        class="flex items-center bg-gray-200 p-2 w-12 overflow-hidden md:py-2.5 md:px-2 md:w-60 rounded-2xl md:gap-2 transform transition-all duration-300"
      >
        <ion-icon
          name="search-outline"
          class="text-gray-500 shrink-0"
        ></ion-icon>
        <input
          id="searchInput"
          type="text"
          class="bg-transparent outline-none text-xs md:text-sm"
        />
      </div>

      <button
        id="modalBtn"
        class="p-2 h-full flex flex-col md:flex-row md:py-2 md:px-2 text-xs md:text-base text-black/70 font-medium rounded-lg md:rounded-xl orangecss cursor-pointer"
      >
        + Add
        <span class="hidden md:block"> Product</span>
      </button>

      <div
        id="filterBtn"
        class="relative flex items-center justify-center w-8 h-8 md:w-10 md:h-10 bg-gray-200 rounded-lg md:rounded-xl cursor-pointer hover:bg-gray-300 transition"
      >
        <ion-icon
          name="filter-outline"
          class="w-4 h-4 md:w-6 md:h-6 text-gray-700"
        ></ion-icon>
      </div>
    </div>
  </div>

  <div class="overflow-hidden pt-5 md:pt-10 ">
    <!-- scrollable wrapper -->
    <div
      class="overflow-auto max-h-[86.9vh] md:max-h-[82vh] bg-white rounded-t-xl scrollable-table md:rounded-t-xl"
    >
      <table class="min-w-[120vh] md:min-w-full">
        <thead class="bg-gray-200 overflow-hidden sticky z-10 top-0 rounded-t-xl">
          <tr>
            <th class="py-3 px-2 text-left w-10 md:w-24 rounded-tl-xl">No</th>
            <th class="py-3 px-2 text-left w-10 md:w-44">Tanggal</th>
            <th class="py-3 px-2 text-left w-40 md:w-auto">Product</th>
            <th class="py-3 px-2 text-left w-16 md:w-56">Price</th>
            <th class="py-3 px-2 text-left w-16 md:w-40">Stock</th>
            <th class="py-3 px-2 text-center w-10 md:w-36 rounded-tr-xl">Action</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <% if (dataProduk && dataProduk.length > 0) { %> <%
          dataProduk.forEach((p, i) => { %>
          <tr class="hover:bg-gray-50">
            <td class="py-2 px-2 text-sm pl-3"><%= i + 1 %>.</td>
            <td
              class="py-2 px-2 text-sm"
              data-tanggal="<%= p.createdAt.toISOString() %>"
            >
              <%= new Date(p.createdAt).toLocaleDateString("id-ID") %>
            </td>
            <td class="py-2 px-2 text-sm"><%= p.name %></td>
            <td class="py-2 px-2 text-sm">
              Rp.<%= Number(p.price).toLocaleString("id-ID") %>
            </td>
            <td class="py-2 px-2 text-sm"><%= p.stock %></td>
            <td class="py-2 px-2 text-center flex justify-center gap-5 md:gap-8">
              <button
                class="text-blue-500 hover:text-blue-700 editBtn"
                data-id="<%= p._id %>"
              >
                <ion-icon name="create-outline" class="text-lg"></ion-icon>
              </button>
              <button
                class="text-red-500 hover:text-red-700 deleteBtn"
                data-id="<%= p._id %>"
              >
                <ion-icon name="trash-outline" class="text-lg"></ion-icon>
              </button>
            </td>
          </tr>
          <% }) %> <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <p
    id="no-result"
    class="text-center text-md py-10"
    style="display: none; color: red"
  >
    Tidak ada pencarian yang cocok!
  </p>
</div>
